body {
    background-color: white;
    margin: 0;
    font-family: 'Times New Roman', Times, Arial, Helvetica, sans-serif;
    max-width: 4244px;

}


header {
    background-color: black;
    color: white;
    padding: 1%;
    min-height: 320px;
    
    border-radius: 3%;
    
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .30);
}
.topbox1 {
    display: flex;
}
.topbox1 > * {
    flex-basis: 100%;
}
.logo {
    width: 70px;
    height: 70px;
}
.imagelogo {
    width: 70px;
}

.links {
  
    margin-right: 7%;
}
@media (min-width:15rem){
    .links {
        display: flex;
        gap: 1rem;
        
    }
}

.links > * {
    gap: 1rem;
    
    flex-basis: 100%;
}
.link {
    text-align: center;
    
}

@media (min-width:30em){
    .topbox2 {
        display: flex;
        gap: 1rem;
        
        height: 100%;
    }
}

.topbox2 > * {
    flex-basis: 100%;
   
}
h1 {
    margin-top: 0;
    margin-left: 4%;
    margin-right: 4%;
    font-weight: bold;
    
}
p {
    margin-left: 4%;
    margin-right: 4%;
    font-style: italic;
   
}
a {
    color:white;
    text-decoration: none;
    display: contents;
}
.buy {
    margin-bottom: 4%;
    margin-left: 4%;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    box-shadow: 0 0 10px 0 rgb(71, 71, 71);
    transition: transform 300ms, text 300ms, box-shadow 300ms;
}
.buy:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px 0 rgb(71, 71, 71);
}
.image {
    
    background-image: url(../img/lakehouse.jpg);
    background-position: center;
    background-size:cover;
    box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, .7);
    border-radius: 3%;
    height: 45vw;
    max-height: 320px;
    min-height: 100%;
   
}


h2 {
    text-align: center;
    font-weight: bold;
    
}

@media (min-width:40em){
    .iltext {
        display: flex;
        gap:1.5em;
    }
}

.iltext > * {
    flex-basis: 100%;
    height: 300px;
}

.il1 {
    height: 80%;
    background-image: url(../img/alaska.jpg);
    background-position: center;
    background-size:cover;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .3);
}
.il2 {
    height: 80%;
    background-image: url(../img/elvetia.jpg);
    background-position: center;
    background-size:cover;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .3);
}
.il3 {
    height: 80%;
    background-image: url(../img/romania.jpg);
    background-position: center;
    background-size:cover;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .3);
}
.il4 {
    height: 80%;
    background-image: url(../img/canada.jpg);
    background-position: center;
    background-size:cover;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .3);
}
.text {
    text-align: center;
  
    font-weight: bold;
}

@media (min-width:40em){
        .customer {
            display: flex;
            gap:1.5em;
           
        }
    }
    
.customer > * {
    flex-basis: 100%;
    background-color: rgb(245, 251, 255);
   
}
h3 {
    
    font-style: italic;
    font-weight: lighter;
}
.name {
    text-align: right;
    font-weight: bold;
}
.bob {
    padding-bottom: 2%;
}
.seller {
   
    margin: 7%;
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .30);
    
    min-height: 110px;
}
@media (min-width:30em){
    .seller {
        display: flex;
        
       
    }
}
.seller > * {
    flex-basis: 100%;
    align-items: center;
}

.text1 {
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 2%;
}
.text2 {
   
    margin-top: 0;
    padding-left: 2%;
}
.button {
    min-height: 110px;
    display: grid;
    place-items: center;
}

footer {
    height: 160px;
    background-color: black;
    color: white;
    margin-bottom: 0;
    text-align: center;
    padding-top: 1%;
}
@media(max-width:999px){
    h1{
        font-size: calc(1vw + 1.5rem);
    }
    h2{
        font-size: calc(.9vw + 1.3rem);
    }
    h3{
        font-size: calc(.8vw + 1.2rem);
    }
    h4{
        font-size: calc(.4vw + .9rem);
    }
    p{
        font-size: calc(.5vw + 1rem);
    }
}